<!DOCTYPE html> {# DOCTYPE元素，告诉浏览器它处理的是HTML文档，所属版本为HTML5（这种写法即为HTML5）#}
<html lang="en"> {# html元素，是根元素，它表明文档中HTML部分的开始。lang属性指定页面内容的默认语言，例如：en表示英语，es表示西班牙语，等#}
<head>
    <meta charset="utf-8">
    <title>{{ user.username }}'s Watchlist</title>
</head>
<body>
<a href="{{ url_for('index') }}">&larr; Return</a>
<h2>{{ user.username }}</h2>
{% if user.bio %}
    <i>{{ user.bio }}</i>
{% else %}
    <i>This user has not provided a bio.</i>
{% endif %}
{# Below is the movie list (this is comment) #}
<h5>{{ user.username }}'s Watchlist ({{ movies|length }}):</h5>
<ul>
    {% for movie in movies %}
    <li>{{ movie.name }} - {{ movie.year }}</li>
    {% endfor %}
</ul>
</body>
</html>
